In [1]:
import pandas as pd
from sklearn.metrics import roc_auc_score,roc_curve,scorer
import dill

import warnings
warnings.simplefilter("ignore")

/home/irina/anaconda3/lib/python3.8/site-packages/sklearn/utils/deprecation.py:143: FutureWarning: The sklearn.metrics.scorer module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.metrics. Anything that cannot be imported from sklearn.metrics is now part of the private API.
  warnings.warn(message, FutureWarning)

In [2]:
X_test = pd.read_csv("data/X_test.csv")
y_test = pd.read_csv("data/y_test.csv")

In [3]:
with open('models/CatBoost_model.dill', 'rb') as in_strm:
    model = dill.load(in_strm)

In [4]:
pred = model.predict_proba(X_test)

In [5]:
roc_auc_score(y_score=pred[:, 1][:], y_true=y_test)

0.7173382058790987

In [ ]:
0.7173382058790987

In [6]:
X_test['pred'] = pred[:, 1][:]
X_test.sort_values(by='pred', ascending=True)

,gender,relevent_experience,enrolled_university,education_level,major_discipline,experience,company_size,company_type,last_new_job,pred
4196,Male,Has relevent experience,no_enrollment,Graduate,Other,>15,100-1000,Pvt Ltd,1-4,0.070300
2237,Male,Has relevent experience,no_enrollment,Graduate,Other,>15,100-1000,Pvt Ltd,1-4,0.070300
1871,Male,Has relevent experience,no_enrollment,Graduate,Arts,>15,100-1000,Funded Startup,1-4,0.070315
7013,Male,Has relevent experience,no_enrollment,Graduate,Arts,>15,100-1000,Funded Startup,1-4,0.070315
7427,Male,Has relevent experience,no_enrollment,Graduate,Other,>15,<100,Funded Startup,1-4,0.070346
...,...,...,...,...,...,...,...,...,...,...
6780,Female,No relevent experience,Full time course,Graduate,STEM,<2,<100,Other,1-4,0.681395
7564,Female,No relevent experience,Full time course,Graduate,STEM,<2,<100,Other,1-4,0.681395
5284,Female,No relevent experience,Full time course,Graduate,STEM,<2,<100,Other,1-4,0.681395
5885,Female,No relevent experience,Full time course,Graduate,STEM,<2,<100,Other,1-4,0.681395
4450,Female,No relevent experience,Full time course,Graduate,STEM,<2,<100,Other,1-4,0.681395